.profile-card {
    width: 35%;
    margin-left: 42.5%;
    padding: 20px;
}

.profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-username {
    font-size: 50px;
    font-weight: bold;
}

.profile-button-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #e0e0e0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.profile-form-button{
    background-color: #499f69;
    border: 2px solid #000000;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.profile-form-button:hover {
    background-color: #e0e0e0;
    color: #499f69;
    border-color: #499f69;
}

.streak-container {
    gap: 30px;
    display: flex;
    justify-content: center;
}

.streak-circle {
    line-height: 250px;         /* prevent shrinking inside flex */
    width: 250px;           /* bigger bubble width */
    height: 250px;          /* bigger bubble height */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4caf50;
}

.max-streak {
    background-color: #ff9800;
}

.current-streak {
    background-color: #4caf50;
}


