html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto; /* ensure vertical scrolling is allowed */
}

/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Works in Firefox */
* {
  scrollbar-width: none; /* hide scrollbar */
}

/* Works in IE/Edge Legacy */
* {
  -ms-overflow-style: none; 
}

.landing-hero {
  display: flex;
  align-items: center;
  height: 90vh; /* Full viewport height */
  text-align: center;
  padding: 20px;
  border: 2px solid red;
}

.landing-hero-banner{
  height: 100%;
  width: 100%;
}